body{
    background-color:white;
    color:black
}

.mydark{
    background-color:grey;
    color:white
}
/* .mode{
    height: 20px;
    width: 20px;
} */
.right{
    display: flex;
    float:right;
    word-spacing: 30px;
    margin-left: 300px;
} 

.hcols{
    height: 200px;
}

.foot p{
    margin-left: 200px;
    font-size: 15px;
    text-align: justify;
    margin-right: 250px;

}
.foot span{
    font-weight: bold;
   margin-left: 150px;
}
.foot ol{
    color: black;
    margin-left: 200px;
    font-weight: bold;
}
.foot li p{
    color: grey;
    margin-left: 50px;
}
.foot ul{
    margin-left: 150px;
}
.foot ul span{
    margin-left: auto;
}

.card-img-top{
    height: 200px;
}

.card-body p{
    /* background-color: rgb(228, 118, 16); */
    background-color: rgb(226,187,123);
    border: 2px solid orangered;
    height: 100px;
    color: black;
    text-align: center;
} 

.container-fluid img{
    display: flex;
}


.right span{
    margin-left:10px ;
}
.ap{
    display: flex;
    float: left;
}
.app{
    float:right;
}
#copy{
    font-size: 15px;
    float: right;
}
#tel{
    color: grey;
    display: flex;
    float: right;
    margin-right: 150px;
    margin-bottom: 200px;
   
}
.footm{
    margin-top: 150px;
}
.links h6{
    margin-left: 150px;
}
.links p{
    margin-left: 150px;
}
.studio li a img {
    display:flex;
    float: right;

}

.main{
    display: flex;
}
 #coupon{
    height:300px;
    width:600px;
    background-image: url("image/coupan1.png");
    position: absolute;
    margin-top: 50%;
    margin-left: 34%;
    z-index: 100;
    visibility:hidden;
} 
/* .details{
    margin-left:10px;
    font-size: 15px;
} */

/* .card p{
    background-color: orange;
    border: 2px solid orangered;
    height: 50px;
} */